# Ignore everything
*

# Except
!run.sh

!configure_dconf.sh
!configure_livepatch.sh
!configure_swapfile.sh
!configure_ufw.sh
!install_firacode_font.sh
!install_google_chrome.sh
!install_nodejs.sh
!install_python3.sh
!install_signal_desktop.sh
!install_sublime_text.sh
!install_visual_studio_code.sh
!install_oracle_virtualbox.sh
!configure_oracle_virtualbox.sh
!install_vagrant.sh

!utils/
!utils/*

!README.md
!LICENSE
!.gitignore
!.git/
!.git/*
